.about {
  display: grid;
  grid-template-columns: 27.2% 24.6% 20% auto;
  grid-template-rows: 50% 50%;
  color: rgb(218, 218, 218);
  // margin-bottom: min(12rem, 10vw);
  .aboutMe {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: min(6rem, 5vw);
    margin-left: min(4rem, 3.3vw);
    font-size: min(1rem, 0.8vw);
  }
  .description {
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: min(5.5rem, 4.6vw);
    margin-left: min(0.8rem, 0.7vw);
    font-size: min(2.2rem, 1.8vw);
    word-spacing: min(0.3rem, 0.25vw);
    width: 84%;
  }
  .imageContainer {
    grid-column: 4/5;
    grid-row: 1/2;
    margin-top: min(3rem, 2.5vw);
    align-self: center;
    justify-self: center;
    transform: scaleX(-1);
  }
  .desc1,
  .desc2,
  .desc3 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: min(7.5rem, 6.2vw);
    margin-left: min(4rem, 3.3vw);
    font-size: min(1rem, 0.8vw);
    word-spacing: min(0.3rem, 0.25vw);
    width: 65%;
    //first p tag
    p:nth-child(1) {
      font-size: min(1.4rem, 1.2vw);
      margin-bottom: min(2rem, 1.7vw);
    }
  }
  .desc2 {
    grid-column: 2/3;
    margin-left: min(1rem, 0.8vw);
    width: 80%;
  }
  .desc3 {
    grid-column: 3/4;
    margin-left: min(1rem, 0.8vw);
    width: 80%;
  }
  .explore {
    width: min(13rem, 10.8vw);
    height: min(3.5rem, 2.9vw);
    border-radius: min(3rem, 2.5vw);
    background-color: transparent;
    border: 1px solid white;
    color: white;
    grid-column: 4/5;
    grid-row: 2/3;
    justify-self: end;
    align-self: end;
    margin-bottom: min(3.5rem, 2.9vw);
    margin-right: min(4rem, 3.3vw);
    font-size: min(1rem, 0.8vw);
  }
}
