.contact {
  height: 100vh;
  color: rgb(218, 218, 218);
  position: relative;
  .main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
    flex-direction: column; /* Add this line */
    .headline {
      font-family: "Ade", serif;
      margin-top: min(2rem, 1.7vw);
      font-size: min(6rem, 5vw);
      line-height: min(8.3rem, 7vw);
      letter-spacing: min(0.3rem, 0.2vw);
      font-weight: 100;
      text-transform: uppercase;
      margin-bottom: min(8rem, 7vw);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .drop {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: min(1.3rem, 1vw);
      margin-bottom: min(0.5rem, 0.4vw);
    }
    .email {
      font-size: min(2.1rem, 1.7vw);
      color: rgb(218, 218, 218);
      text-align: center;
      text-decoration: none;
    }
  }
  .left {
    position: absolute;
    left: min(3rem, 2.6vw);
    bottom: min(3rem, 2.6vw);
    font-size: min(1.3rem, 1vw);
  }
  .right {
    position: absolute;
    right: min(3rem, 2.6vw);
    bottom: min(3rem, 2.6vw);
    font-size: min(1.3rem, 1vw);
    text-align: right;
  }
  .buttons {
    position: absolute;
    bottom: min(3rem, 2.6vw);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: min(1rem, 0.8vw);
    .button {
      background-color: transparent;
      margin: 0 min(1rem, 0.8vw);
      border-radius: 3rem;
      border: 1px solid rgb(218, 218, 218);
      padding: min(1rem, 0.8vw) min(2.5rem, 2.2vw);
      font-size: min(1rem, 0.8vw);
      color: rgb(218, 218, 218);
      text-decoration: none;
      &:hover {
        color: rgb(218, 218, 218);
      }
    }
  }
}
