.marquee {
  color: rgb(218, 218, 218);
  font-family: "Ade", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  font-size: 1.1rem;
  border-top: 1px solid rgba(218, 218, 218, 0.611);
  border-bottom: 1px solid rgba(218, 218, 218, 0.632);
  margin: 2rem 0 4rem 0;
  .marquee__inner {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }
}

.featured {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(218, 218, 218);
  font-family: "Ade", serif;
  font-size: 9rem;
  letter-spacing: 0.5rem;
  line-height: 1.2;
  p {
    display: inline-block;
    span {
      display: inline-block;
    }
  }
}
