.nav {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: min(3.5rem, 2.9vw) min(4rem, 3.3vw);
  color: rgb(218, 218, 218);

  .leftNav {
    display: flex;
    align-items: center;
    .logo {
      color: rgb(218, 218, 218);
      margin-right: min(2.5rem, 2.1vw);
    }
    .request {
      border: none;
      background: none;
      color: rgb(218, 218, 218);
      font-size: min(1.2rem, 1vw);
      text-decoration: underline 1px;
      text-underline-offset: 0.4em;

      &:hover {
        color: #ccc;
      }
    }
  }
  .wassim {
    font-size: min(2rem, 1.7vw);
    margin-left: min(7rem, 7.5vw);
    font-family: "Ade", serif;
  }
  .rightNav {
    display: flex;
    align-items: center;
    .link {
      margin-left: min(3.2rem, 2.7vw);
      color: rgb(218, 218, 218);
      font-size: min(1.35rem, 1.1vw);
      text-decoration: none;

      &:hover {
        color: #ccc;
      }
    }
  }
}
