.projects {
  position: relative;
  width: 100%;
  color: rgb(218, 218, 218);

  .projectOne {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: sticky;
    background-color: #111111;
  }
  .projectThree {
    display: flex;
    background-color: #111111;
    justify-content: center;
    position: sticky;
    // top: 7rem;
    height: calc(100vh - 7rem);
    width: 100%;
    z-index: 2;
  }
  .container1 {
    border-top: 1px solid white;
    padding: 2rem 0 0 0;
    margin: 7rem 3rem 6rem 3rem;
    display: grid;
    grid-template-columns: 2fr 4.2fr;
  }
  .container2 {
    border-top: 1px solid white;
    padding: 2rem 0 0 0;
    margin: 0rem 3rem 6rem 3rem;
    display: grid;
    grid-template-columns: 2fr 4.2fr;
  }
  .subtitle {
    grid-column: 2/3;
  }
  .title {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1.5rem;
  }
  .description {
    grid-column: 1/2;
    align-self: end;
    font-size: 1.1rem;
    line-height: 1.5rem;
    width: 23rem;
  }
  .video {
    align-self: end;
    grid-column: 2/3;
    overflow: hidden;
    border-radius: 20px;
    aspect-ratio: 16/9;
    video {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
